.joincontainer{
    width: 100%;
    height: 100%;
    display: flex;
    
}
.logo-section{
    width: 50%;
    height: 100%;
    background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}
.big-logo{
    width: 400px;
    height: 220px;
    border-radius: 15px;
}
.options-box{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.create-account-btn{
    width: 300px;
    border-radius: 25px;
    
}
.create-account-btn Link{
    text-decoration: none;
}
.options-box p{
    display: contents;
    font-size:x-small;
}
.create-account-btn:hover{
    background-color: #1e84de;
}

@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    .joincontainer{
      flex-direction: column;
    }
    .logo-section{
        width: 100%;
    }
    .options-box{
        width: 100%;
        padding: 10px;
        
    }
    .big-logo{
        width: 300px;
        height: 140px;
        border-radius: 15px;
    }
    
  }
