.SearchSection{
    background-color: #484caf;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.search-input{
    border: none;
}
.searbar-with-result{
    width: 80%;
    margin: 10px 0;
    

}
.search-bar {
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 40px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 40px;
    
}

.search-icon {
    color: #1da1f2;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
}

.search-input::placeholder {
    color: #aab8c2;
}
.result-box {
    display: none;
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-top: none;
    border-radius: 0 0 20px 20px;
    position: absolute;
    width: 24%;
    z-index: 2;
    overflow: hidden;
    margin: 1px 0;
    opacity: .5;
    max-height: 200px;
    overflow: scroll;

}
.result-item {
    padding: 8px 16px;
    cursor: pointer;
}

.result-item:hover {
    background-color: #f5f8fa;
    
}
.whats-happening-card{
    width: 80%;
    height: 600px;
    margin: 20px 0;
    background-color: #6a6db4;
    border-radius: 20px;
}
@media only screen and (max-width: 1000px) {
    .SearchSection{
        display: none;
    }

    
    
}